<%= form_with model: story do |form| %>

  <p> <%= "Status: #{story.status}" %> </p>

  <div class="form_field">
    <%= form.label :headline %><br>
    <%= form.text_field :headline, disabled: !chief? %>
    <% story.errors.full_messages_for(:headline).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form_field">
    <%= form.label :writer_id %><br>
    <%= form.select :writer_id, User.all.collect { |user| [user.name, user.id] }, { include_blank: true }, 
                    disabled: false, selected: form.object[:writer_id], 
                    class: hidde_writer_select?(form, true)%>

    <span class="<%= hidde_writer_select?(form, false) %>">
      <%= User.find_by_id(form.object[:writer_id])&.name %>
    </span>

    <% story.errors.full_messages_for(:writer_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form_field">
    <%= form.label :reviewer_id %><br>
    <%= form.select :reviewer_id, User.all.collect { |user| [user.name, user.id] }, { include_blank: true }, 
                    disabled: false, selected: form.object[:reviewer_id],
                    class: hidde_reviewer_select?(form, true)%>

    <span class="<%= hidde_reviewer_select?(form, false) %>">
      <%= User.find_by_id(form.object[:reviewer_id])&.name %>
    </span>

    <% story.errors.full_messages_for(:reviewer_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form_field">
    <%= form.label :body %><br>
    <%= form.text_area :body, disabled: !can_write? %><br>
    <% story.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit current_action_text[:main_btn], disabled: !current_action_permission, name: 'main_btn' %>
  </div>

  <div class="<%= show_second_btn? %>">
    <%= form.submit current_action_text[:second_btn], name: 'second_btn' %>
  </div>


<% end %>

<%= link_to "Stories", stories_path %>